block variables
	-var pageTitle = 'Main Page'
	-	 menuSelected = 'index'

extends ./_layout.jade
block content
	.row
		.col-md-12
			div.information_big
				span.text_engraved.text_bolder Hello. 
				br
				span.text_engraved This is the news site. 
				br
				span.text_engraved Scandals, intrigues, investigations!
