form.form-dlg
    .form-group.row
         label.col-sm-2.form-control-label(for='newsHeader') Header
         .col-sm-10
            input#newsHeader.form-control.form-field(type='text', name='header')
    .form-group.row
         label.col-sm-2.form-control-label(for='newsDate') Date
         .col-sm-10
            input#newsDate.form-control.form-field(type='text', name='dt')
    .form-group.row
         label.col-sm-2.form-control-label(for='newsPrevText') Preview Text
         .col-sm-10
            textarea#newsPrevText.form-control.form-field(type='text', name='prevtext')
    .form-group.row
         label.col-sm-2.form-control-label(for='newText') Text
         .col-sm-10
            textarea#newText.form-control.form-field(type='text', name='text')
    
    
    
